html,
body {
  background: linear-gradient(to bottom, #87CEEB, #1E90FF); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  
}

[id^='cells-template-'] {
  display: contents;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
}